body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : azure !important;
}


* {
  scrollbar-width: thick;
  scrollbar-color: #6969dd white;
}

*::-webkit-scrollbar {
  height: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow      : inset 0px 5px 6px rgba(17, 172, 210, 0.3);
  background-color: white !important;
  border-radius   : 100px;
}

*::-webkit-scrollbar-thumb {
  background-color   : #6969dd !important;
  /* outline         : 1px solid rgb(27, 109, 192); */
  box-shadow         : inset 0 -1px 6px rgba(0, 0, 0, 0.3);
  border-radius      : 100px;
}


@keyframes expand-inputerror {
  0% {
    height: 0px;
    transform: translateY(-10px);
  }
  
  100% {
    height: 20px;
    transform: translateZ(0px);
  }
}
@keyframes expand-inputerror-reverse {
  0% {
    height: 20px;
  }
  
  100% {
    height: 0px;
  }
}